{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

eval "$($HOME/.homebrew/bin/brew shellenv)"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
tap "hashicorp/tap"

cask_args appdir: "$HOME/Applications", require_sha: true

brew "coreutils"
brew "fd"
brew "fzf"
brew "git"
brew "git-lfs"
brew "pyenv"
brew "ripgrep"
brew "starship"
brew "neovim"
brew "hashicorp/tap/terraform"

cask "font-jetbrains-mono-nerd-font"
cask "kitty"
cask "rectangle"
EOF

{{ end -}}
