{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

if [ -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh' ]; then
  . '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
fi

nix build --no-link path:$HOME/.config/nixpkgs#homeConfigurations.peter.activationPackage
"$(nix path-info path:$HOME/.config/nixpkgs#homeConfigurations.peter.activationPackage)"/activate

{{ end -}}
