{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

curl -L -o $HOME/.local/bin/dotnet-install.sh https://dot.net/v1/dotnet-install.sh
chmod +x $HOME/.local/bin/dotnet-install.sh
$HOME/.local/bin/dotnet-install.sh --no-path --channel LTS

$HOME/.dotnet/dotnet dev-certs https --trust

{{ end -}}
