{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

if [ -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh' ]; then
  . '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
fi

nix-shell -p mas --run 'mas install 497799835'
sudo xcode-select -s /Applications/Xcode.app
sudo xcodebuild -license accept

{{ end -}}
