{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

global_python_version=3.10.4

eval "$($HOME/.homebrew/bin/brew shellenv)"

export PYENV_ROOT="$HOME/.pyenv"
path=($PYENV_ROOT/bin $path)
if type pyenv &>/dev/null
then
  eval "$(pyenv init -)"
fi

pyenv install -s $global_python_version
pyenv global $global_python_version

{{ end -}}
