{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env zsh

eval "$($HOME/.homebrew/bin/brew shellenv)"

pipx install poetry
mkdir -p $HOME/.zfunc
$HOME/.local/bin/poetry completions zsh > $HOME/.zfunc/_poetry

{{ end -}}
